./request.json
request.json
./credentials.json
credentials.json
./token.json
token.json
./*.env
*.env
./config.env
config.env
./*.txt
*.txt
./txt/*.*
./txt/*
./postTemplates/*.*
./postTemplates/*
./mainbakup
mainbackup
./*.XML
*.XML
./weps/*.*
./weps/*
