# Spreadsheet IDs
# https://docs.google.com/spreadsheets/d/1N747CRjWsbPyQfp1OsjzKZlqUMsNqszYD96gV9Hctpg/edit#gid=0
GIFTED_SSID=1N747CRjWsbPyQfp1OsjzKZlqUMsNqszYD96gV9Hctpg
# https://docs.google.com/spreadsheets/d/14GWxNEshe8kDK9QJbMihKl-sC3awXJcOftNVBZAuNMg/edit#gid=0
WEP_TEMPLATE_SSID=14GWxNEshe8kDK9QJbMihKl-sC3awXJcOftNVBZAuNMg
# Grade-level Information
GRADE=12
GRADUATION_YEAR=2021
START=11/1/2020
END=10/31/2021
REVIEW=11/1/2021

